/* ─── PullToRefresh ───────────────────────────────────────────────────────── */

.container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.indicator {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
